			.head{
				background-color: #11B5AE;
			}
			p{
				text-indent: 0em;
			}
			.content{
				width: 60%;
				height: 462px;
				margin: 0px auto;
				margin-bottom: 50px;
				display: flex;
				justify-content: center;
			}
			.title{
				font-family: "微软雅黑";
				color: black;
				font-size: 35px;
				font-weight: 700;
				margin-top:35px ;
			}
			.c1{
				flex: 6;
			}
			.you{
				margin-top: 30px;
				margin-left: 500px;
				position: fixed;
				flex: 4;
			}
			.c1 ul{
				margin-top: 20px;
			}
			.c2 ul{
				margin-top: 20px;
			}
			.c3 ul{
				margin-top: 20px;
			}
			.content a{
				color: cornflowerblue;
			}
			.content p{
				margin-bottom: 10px;
			}
			.content li{
				margin-top: 8px;
			}
